<h1>Album successfully added</h1>

<p>
  You've added the following album to the databse:
</p>
<br>
<br>
<br>
<p>
  Album: {{album}}
</p>
<p>
  Artist: {{artist}}
</p>
<br>
<br>
<br>
<p>
  Release Year: {{releaseYear}}
</p>
